<%-include("header.ejs") %>

<style>

.form-control {
    border-color: #b79f9f !important;
}

.form-control:focus {
    border-color: #b79f9f !important;
}


</style>

    <div class="row" style="margin:30px;">
      <div class="col-lg-6 col-12 mx-auto">

        <div class="p-5 bg-white rounded shadow-lg">
          <h3 class="mb-4 mt-4 text-center ">Add new company</h3>
          
  
          
	<%if (locals.error) {%>
  <h2><%=locals.error %></h2>
	<% } %>
           
  	<%if (locals.add) {%>
  <div style="color: forestgreen;padding:10px 10px 20px;"> <%=locals.add %> </div>
   <% } %>   
   
   
<form action="?" method="post" enctype="multipart/form-data">

<div class="" style="margin-bottom:10px;">
<input type="text" class="form-control" name="cname" placeholder="Company name" required="">
</div>

<div class="" style="margin-bottom:10px;">
<input type="text" class="form-control" name="country" placeholder="Country" required="">
</div>


<div class="form-row">


<input type="email" class="form-control" pattern="^[\w-]+@[\w-]+\.[\w-]+$" name="mail" placeholder="Comany email" required="">

<input type="number" class="form-control" name="num" placeholder="Company Number" required="">


</div>


<div class="" style="margin-bottom:10px;">
<input type="file" class="" style="padding: 0px;" name="foto" placeholder="Photo" accept="image/*" required="">
</div>




<textarea name="desc" placeholder="Company description" class="form-control" style="margin-top:10px;margin-bottom:10px;padding:15px;height: 130px;" required=""></textarea>


<input name="reg" type="submit" Value="Lets go" style="text-align:center;color:#fff;background:#dc3545;border:0;padding:10px">


</form>
   
   
            
        </div>        
      </div>
    </div>


<%-include("footer.ejs") %>
