<%-include("header.html") %>

<style>

.form-control {
    border-color: #b79f9f !important;
}

.thing {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

</style>


<div class="col-8" style="margin:auto;margin-top:10px;margin-bottom:20px">

<div class="row" >


        <div class="col-lg-8">
        
        
        <div class="panel panel-primary">
             <div class="panel-heading">
                        
                        <h4 class="panel-title" id="contactLabel"> <img src="/icons/icons8-question-mark-50.png" width="30">  questions? Feel free to contact us.</h4>
                    </div>
                     </div>
          
          <div class="p-5 bg-white rounded shadow-lg">

  
          
<%if (locals.sent) {%>
  <h2><%=locals.sent %></h2>
<% } %>
           
         
<%if (locals.error) {%>
  <h2><%=locals.error %></h2>
<% } %>


   
<form action="?" method="post">
<h3 style="display:none">zzz</h3>


<div class="form-row">
<input type="email" class="form-control" pattern="^[\w-]+@[\w-]+\.[\w-]+$" name="mail" placeholder="Your email" required>
</div>
<div class="form-row">
<input type="text" class="form-control" name="fname" placeholder="Your name" required>
</div>


<div class="form-row">
<input type="text" class="form-control" name="subj" placeholder="Subject" required>
<input type="text" pattern="^[+][0-9]+$" class="form-control" name="num" placeholder="Number" required>
</div>





<textarea name="txtw" placeholder="Text goes here" class="form-control" style="margin-top:10px;margin-bottom:10px;padding:15px;height: 130px;" required></textarea>


<input name="reg" type="submit" value="Send" style="border-radius:7px;color:#fff;background:#5f79dc;border:0;padding:10px">


</form>
   
   
            
        </div>
          
          
        </div>
        
        <div class="col-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><img src="/icons/icons8-location-30.png" width="25"> Address</div>
                <div class="card-body">
                    <p>blabal str5</p>
                    <p>Georgia, 75008 AGMSH</p>
                    <p>Email: email@example.com</p>
                    <p>Tel: +995568778899</p>

                </div>

            </div>
        </div>
    </div>






</div>

</div>




<%-include("footer.html") %>
