<html>
<head>
  <title><%=title %></title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, follow">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Billboard for vacancies">
  <meta name="keywords" content="jobs, seekers, HR,vacancies, employment, human resources, recruitment, candidates, jobseekers">
  <script src="/dist/js/jquery.js"></script>
  <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/main.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/dist/css/material-design-iconic-font.min.css">

</head>
<body>

<div class="container-fluid  g-0">


<div class="row" style="background-color:#ffffff;padding:20px;">


<!-- starting point of hdr -->



<div class="col-md-6 pr-2">
<div>HR</div>
</div>

<div class="col-md-6" id="clr2">
<div class="row">

<div class="col"> Home </div>
<div class="col"> Jobs </div>
<div class="col"> Candidates </div>
<div class="col"> Employers </div>
<div class="col"> Contact </div>
	<%if (locals.user) {%>
	<div class="col"> <%=locals.user.uid%> </div>
	<% } %>
</div>
</div>


<!-- end of hdr -->



</div>
