<html>
<head>
  <title><%=title %></title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, follow">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Billboard for vacancies">
  <meta name="keywords" content="jobs, seekers, HR,vacancies, employment, human resources, recruitment, candidates, jobseekers">
  <script src="/dist/js/jquery.js"></script>
  <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/main.css">
  <link rel="stylesheet" href="/dist/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/dist/css/material-design-iconic-font.min.css">

</head>
<body>

<div class="container-fluid  g-0">


<div class="row" style="background-color:#ffffff;padding:20px;">


<!-- starting point of hdr -->



<div class="col-md-6 pr-2">
<div class="row gx-5">

<div class="col-1">
<a href="/"><img src="/icons/icons8-world-map-80.png" width="30"></a>
</div>
<%if (!locals.user) {%>
<div class="col-11" style="margin-top:4px;">
<a href="/in"><span class="serverApp">Login</span></a>
<a href="/signup"><span class="serverApp" style="background:#e71717 !important;">Signup</span></a>
</div>
<%}%>

</div>
</div>

<div class="col-md-6" id="clr2">
<div class="row" id="hdr22">
<div class="col"> <a href="/">Home </a></div>
<div class="col"> <a href="/jobs/">Jobs </a></div>
<div class="col"><a href="/candidates"> Candidates </a></div>
<div class="col"><a href="/employers"> Employers</a> </div>
<div class="col"> <a href="/contact">Contact</a></div>
	<%if (locals.user) {%>
	<div class="col"> <a href="/my"> <%=locals.user.name%> </a> </div>
	<% } %>
</div>
</div>


<!-- end of hdr -->



</div>
