<%-include("header.html") %>


<%

//console.log(ptqwe2)


function tmqw123123e(w22){
	
let qwe = new Date(w22);

let d = qwe.getDate()
let y = qwe.getFullYear()
let m = qwe.getMonth()
var mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
	 
return `${d} ${mS[m]}`;	 
}



%>


<div class="row">

<div class="col-10">



<div class="row">



<div class="p42w2141">
	
<div class="pleft">
<span style="font-size:17px;"><%=jdata.name%></span>
</div>

	
<div class="pright">
	[Job ID: <span style="color:blue;"><%=jdata.jid%></span>]
</div>


</div>

<div class="col-12">

<div class="list-group w-auto" style="margin-top:20px;margin-bottom:20px;" id="lsts2"> 

  <a href="/profile/<%=usrdata.uid%>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/icons/2918581.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0"><%=usrdata.name%></h6>
        <small class="opacity-50 text-nowrap" style="color:blue;"><%=tmqw123123e(jdata.time);%></small>
      </div>
      <% if (usrdata.uid != user.uid) { %>
      <div><img id="cntt" style="width:30px" src="/icons/text.png"></div>
      <% } %>
    </div>
  </a>
  
  
 	
<% if (usrdata.uid != user.uid) { %>

<div class="ccflex ccflex2" style="margin-bottom: 20px;background: #fff;padding-bottom: 10px;">
<div><button id="texting" class="commentPost w-100" style="padding:10px;">Send a message</button></div>
<div><button id="Cvsnd" class="commentPost w-100" style="padding:10px;">Send a cv</button></div>
</div>
  
<% } %>  
  
  

<div style="background-color: white;padding:10px;">
	
	
	
	<b>Published:</b> <%=tmqw123123e(jdata.time);%> / <b>Deadline</b>: <%=tmqw123123e(jdata.expire_time);%>
<br/>
	<b>Experience:</b> <%=jdata.experience_time%>
<br/>
	<b>Working place:</b> <%=jdata.place%>
<br/>
	<b>Working mode:</b> <%=jdata.work_type%>
<br/>
	<b>Employment type:</b> <%=jdata.empl_type%>

<span><br><b>Provided by:</b> 	<a style="color:blue;" href="/company/<%=cdata.cid%>"><%=cdata.name%></a></span>



<p><p/>

<p class="mb-0" style="word-break:break-all;"><%=jdata.desc%> </p>



 </div>
  
  
  </div>
   
  </div>
 
 
 
  
</div>

</div>


<%-include("right.html") %>


</div>


<script>

$("#texting").click(function() {
	window.location = "/messages/" +<%=jdata.user;%>
});

$("#cntt").click(function() {
	window.location = "/messages/" +<%=jdata.user;%>
});

</script>

<style>


.ccflex {
	display:inline-flex;
	width:100%;
}


.ccflex2 {
	flex-direction:row;
}

.ccflex2 > div {
	flex-basis:50%;
}

.ccflex2 > div {
    margin: 0px 4px 0px 4px;
}

</style>



<%-include("footer.html") %>
