<%-include("header.html") %>

<style>

.form-control {
    border-color: #b79f9f !important;
}

.form-control:focus {
    border-color: #b79f9f !important;
}


</style>

    <div class="row" style="margin:30px;">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="text-center image-size-small position-relative">
        <img src="/icons/employment.png" class="rounded-circle p-2 bg-white">
        <div class="icon-camera">
        <a href="" class="text-primary"><i class="lni lni-camera"></i></a>
        </div>
        </div>
        <div class="p-5 bg-white rounded shadow-lg">
          <h3 class="mb-4 mt-4 text-center  pt-4">Add new job</h3>
          
  
          
	<%if (locals.error) {%>
  <h2><%=locals.error %></h2>
	<% } %>
           
           
   
   
<form action="?" method="post">
<h3 style="display:none">zzz</h3>


<div style="margin-bottom: 20px;">
<input type="text" class="form-control" name="title" placeholder="Job title" maxlength="128" required>
</div>


<div class="form-row">



<div class="form-holder" style="width:100%;">
<select name="cid" class="form-control">
<option value="" disabled="" selected="">Choose company</option>
<% cdata.map((val)=> { %>
<option value="<%=val.cid%>"><%=val.name%></option>
<% }) %>


</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>




</div>


<div class="form-row">

<input type="text" class="form-control" name="exp" placeholder="Experience"  maxlength="128" required>

<div class="form-holder" style="width:100%;">
<select name="exp_time" class="form-control">
<option value="" disabled="" selected="">Show for(expire time)</option>
<option value="1">7 day</option>
<option value="2">14 day</option>
<option value="3">21 day</option>
<option value="4">28 day</option>
<option value="5">36 day</option>


</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>



</div>



<div class="form-row">

<div class="form-holder" style="width:50%;">
<select name="typej" class="form-control">
<option value="" disabled="" selected="">Work type</option>
<option value="1">Remote</option>
<option value="2">Onsite</option>
<option value="3">Hybrid</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>

<div style="padding-left:5%;"></div>


<div class="form-holder" style="width:50%;">
<select name="etype" class="form-control">
<option value="" disabled="" selected="">Employment Type</option>
<option value="1">Full-time</option>
<option value="2">Part-time</option>
<option value="3">Contract</option>
<option value="3">Internship</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>


</div>





<textarea name="descr"   maxlength="100000" required placeholder="job describtion" class="form-control" style="margin-top:10px;margin-bottom:10px;padding:15px;height: 130px;"></textarea>


<button name="go" type="button" style="text-align:center;color:#fff;background:#dc3545;border:0;padding:10px">Add</button>


</form>
   
   
            
        </div>        
      </div>
    </div>


<%-include("footer.html") %>
