<%-include("header.html") %>


<%



function tmqw123123e(w22){
	
let qwe = new Date(w22);

let d = qwe.getDate()
let y = qwe.getFullYear()
let m = qwe.getMonth()
var mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
	 
return `${d} ${mS[m]}`;	 
}



%>



<div class="row">

<div class="col-10">
	

<div class="row">

<div class="col-2">

<div style="margin-top:20px;margin-bottom:20px;">

<div class="clistd">

<div class="clistd2">Categories</div>

<%ciddt.map((val)=>{ %>
<div>
<a id="clink" href="/cat/<%=val.cid%>"><span><%=val.namd%></span></a>
</div>
<% }) %>

</div>


</div>
</div>



<div class="col-10">
	
	
	
<div class="cz_jb_nav_t">
Get the news about the jobs by email
</div>


	
<div class="cz_jb_nav_t2">

<div style="float:left;width:80%;">
	<input type="text" placeholder="email address"/>
</div>

<div style="float:left;width:20%;">
	<button>Create an alert</button>
</div>

<div style="width:100%;clear:both;padding-top: 4px;">
	<h4 style="margin-top:7px;">But Before doing so go and see <a href="">Rules</a> </h4>
</div>

</div>





<div class="flx_22_hd"> 

<div>
	
<div style="float:left">All Jobs</div>
<div style="float:left;opacity:0.5;padding-left:10px;"><%=howmany%> Results</div>

<div style="float:right;">

<select name="sorting" style="border:0;background:#fff;">
<option value="new" selected>Newest</option>
<option value="old">Oldest</option>
<option value="best">Best</option>
</select>


</div>

</div>

</div>







<div class="flx_22_lstzz">

<%

dataFetch.map(function(val,index){ 





%>



<div class="cjobsbrd"> 
	



   <div style="float:left;padding-right:10px;"> 
	   <img src="/get_pic/<%=val.cid %>" alt="twbs" width="32" height="32" class="rounded-circle">
   </div>
   
   
   
   <div style="float:left;"> 
	   <div><a href="/job/<%=val.jid %>"><%=val.name %></a></div>
	   
	   <div>
	   <svg class="czbld"></svg> <span style="margin-left: -8px;font-size: 18px;padding-right:10px;">Batumi</span>
	   <svg class="plcmap"></svg> <span style="margin-left: -8px;font-size: 18px;padding-right:10px;"><%=val.place%></span>
	   <svg class="sgnlms2z"></svg> <span style="font-size: 18px;"><%=val.work_type%></span>
	   </div>
	   
	   
   </div>
   
  <div style="float:right;"> 
	   <div><a href=""><%=tmqw123123e(val.time);%>/<%=tmqw123123e(val.expire_time);%></a></div>
 </div> 
 


   
   

 </div> 
  
  

<% }) %>

</div>



<div class="d-flex justify-content-center" id="pagination" style="background: white;padding:10px;">
  
  <a style="background:#aaa !important;color: white;">prev</a>
  
  <a class="" style="  background-color: #ff5f00!important;color: #fff!important;cursor: pointer;">1</a>
 
 <a class="clr" style="cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">2</a>
  <a class="clr" style="cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">3</a>
     <a class="clr" style="cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">4</a>
     <a class="clr" style="cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">5</a>
    <a style="background:#aaa !important;color: white;">...</a>
   <a style="color: #000!important;cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">105</a>
      <a style="color: #000!important;cursor: pointer;border: 0.0625rem solid #9d8f8f;
    ">next</a>
    
  </div>

</div>	
	
	

</div>

</div>


<%-include("right.html") %>


</div>




<%-include("footer.html") %>
