<%-include("header.html") %>



<div class="row">

<div class="col-10">





<div class="row">

<h5 class="card-title" style="background-color: white;padding:10px 0 10px 0 ;margin-top:15px;text-align:center">Inbox messages</h5>

<div class="col-12">

<div class="list-group w-auto" style="margin-top:20px;margin-bottom:20px;" id="lsts2"> 

  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/pics/20cbda2267c7a60506893a9d0948aab2--dark-anime-hot-anime.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/pics/34cae14324d3d6ac2ba25a3fcadbb596.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/pics/877_1670024117345_8402_1669921927241_11607991960.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
     <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/pics/d281cf9550d6abc5e3824f6b55e57983.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/pics/f3c689fb55e4a728e3905c037b80e16e.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
  
  
  </div>
   
  </div>
 
 
 
  
</div>

</div>


<!-- right side of menu -->
<div class="col-2" style="margin-top:20px;margin-bottom:20px;padding-right:4px;padding-right: 22px;">



<ul class="list-group">

    <h5 class="list-group-item card-title">Ads</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>



<ul class="list-group" style="margin-top:20px;">

    <h5 class="list-group-item card-title">Random vacancies</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>


</div>
<!--  -->


</div>




<%-include("footer.html") %>
