<%-include("header.html") %>



<div class="row">

<div class="col-10">



<div class="row" style="margin-top:14px;">

<div class="col-2" style="">


<div class="row">
	
	
	
	
	
<div class="col-12" style="background-color: white;padding-left:25px;">

<div class="pcntr">
<img src="/icons/Default.jpg"/>
</div>

<div class="pcntr Accnt">
<%=user.name%> [ID: <%=user.uid%>]
</div>

<div class="qqzntr22" ="">
<span style="padding: 5px;">
  <a style="color: #282525;" href="/jobs/my" class=""> My jobs</a> | <a style="color: #282525;" href="/jobs/add" class=""> New</a>
  </span>
  <a href="/my_company" class="">My companies</a>
  
  <% if (dataFetch.uid !== user.uid) { %>
  <a href="/messages/<%=user.uid%>" class="">Send a message</a>
   <% } else { %>
	  <a href="/messages" class="">Messages</a> 
   <% } %>  
  <a href="/parlor" class="">Settings</a>
  <a href="/profile/<%=user.uid%>" class="">Profile</a>
  <a href="#" class="">Exit</a>
  
</div>

</div>



<div class="col-12" style="background-color: white;margin-top:15px;padding-left:25px;">

<div style="font-weight:500;font-size:18px;padding:10px;">Suggestions</div>


<div class="cflex" style="    margin-left: 14px;">
<div><img src="/pics/f3c689fb55e4a728e3905c037b80e16e.jpg"></div>
<div class="cflex2" style="margin-left:10px;">
<div>qweqw</div>
<div>qweqw</div>
</div>
</div>


<div class="cflex" style="    margin-left: 14px;">
<div><img src="/pics/d281cf9550d6abc5e3824f6b55e57983.jpg"></div>
<div class="cflex2" style="margin-left:10px;">
<div>qweqw</div>
<div>qweqw</div>
</div>
</div>




<div class="cflex" style="    margin-left: 14px;">
<div><img src="/pics/877_1670024117345_8402_1669921927241_11607991960.jpg"></div>
<div class="cflex2" style="margin-left:10px;">
<div>qweqw</div>
<div>qweqw</div>
</div>
</div>




<div class="cflex" style="    margin-left: 14px;">
<div><img src="/pics/877_1670024117345_8402_1669921927241_11607991960.jpg"></div>
<div class="cflex2" style="margin-left:10px;">
<div>qweqw</div>
<div>qweqw</div>
</div>
</div>




</div>





</div>


</div>

<div class="col-10">

<h5 class="card-title" style="background-color: white;padding:10px 0 10px 0;text-align:center">New post</h5>

<div class="commentBox">

<form style="background:#fff;padding:10px">
    <textarea class="form-control" style="resize:none;height:80px;" placeholder="What's on your mind"></textarea>
    <button class="commentPost w-100" style="padding:10px;">Post</button>
</form>


</div>



<div class="col-12">

<div class="list-group w-auto" style="margin-top:20px;margin-bottom:20px;" id="lsts2"> 

  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/icons/2918581.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/icons/2918581.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/icons/2918581.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
  
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/icons/2918581.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List group item heading</h6>
        <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
      </div>
      <small class="opacity-50 text-nowrap">now</small>
    </div>
  </a>
  
  
  
  

  
  
  </div>
   
  </div>
 



<!-- -->




</div>



<!-- -->







</div>





</div>


<%-include("right.html") %>


</div>




<%-include("footer.html") %>
