<%-include("header.html") %>



<div class="row">

<div class="col-10">





<div class="row">

<h5 class="card-title" style="background-color: white;padding: 14px 13px 13px 20px;margin-top:15px;text-align:left">

<span style="float:left;">My companies (<%=cnt %>)</span>
<a href="/add_company" style="float:right;color: black;">Add new</a>
</h5>


<div class="col-12">

<div class="list-group w-auto" style="margin-top:20px;margin-bottom:20px;" id="lsts2"> 


<%

dataFetch.map(function(val,index){ 

let qwe = new Date(val.time*1000);

let d = qwe.getDate()
let y = qwe.getFullYear()
let m = qwe.getMonth()

%>

  <a href="<%=val.id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/<%=val.cid %>" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0"><%=val.name %></h6>
        <p class="mb-0 opacity-75"><%=val.description %></p>
      </div>
      <small class="opacity-50 text-nowrap"><%=d%>/<%=y%>/<%=m%></small>
    </div>
  </a>


<% }) %>
  
  
  
  </div>
   
  </div>
 
 
 
  
</div>

</div>


<!-- right side of menu -->
<div class="col-2" style="margin-top:20px;margin-bottom:20px;padding-right:4px;padding-right: 22px;">



<ul class="list-group">

    <h5 class="list-group-item card-title">Ads</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>



<ul class="list-group" style="margin-top:20px;">

    <h5 class="list-group-item card-title">Random vacancies</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>


</div>
<!--  -->


</div>




<%-include("footer.html") %>
