<%-include("header.html") %>

<style>

.form-control {
    border-color: #b79f9f !important;
}

.form-control:focus {
    border-color: #b79f9f !important;
}


</style>

<div class="col-12">



<div class="row gutters-sm justify-content-center" style="margin:10px;">


<div class="col-2">


<div style="background-color: white;padding:16px;">

<div class="pcntr">
<img src="/pic_users/<%=(user.photo == '' ? 'Default.jpg' : user.photo) %>" width="150" id="phtID"/>
</div>


<div class="pcntr Accnt">
<div style="font-size: 1.5rem;"><%=user.name%> <%=user.surn%></div>
<div class="parlort">Full Stack Developer</div>
<div class="parlort">Bay Area, San Francisco, CA</div>
</div>

<div class="upldfzz2" onclick="Show_Window()"><input onchange="Changing_photo(this)" id="fltpz" type="file" size="60"/> Change photo</div>

</div>

<script>

function Show_Window() {
	
     document.getElementById("fltpz").click();
     
     /*function(event){
		 console.log(event.files)
	});*/
     
}


function Changing_photo(event) {
	


	if (!event.files) {
		return alert('choose an image');
	}
	
    var reader = new FileReader();
	
	//console.log(event.files[0])
	//console.log(event.files[0].name)
	//console.log(event.files[0].type)
	
	var file = event.files[0]
	var cfltpqwe = file.type
	
function ifImage(name) {

const Tpimage = /^image\/(jpg|jpeg|png|gif|webp|bmp)+$/

if (Tpimage.test(name)) {
  return name.split("/")[1]
} else {
 return false; 
}

}

var czt12Zr123 = ifImage(cfltpqwe)	
	
	if (!czt12Zr123) {
		return alert('choose an image');
	}

//////////console.log(czt12Zr123)

const cimgvar = ['test','img_bl','bluh','buhaha','who_cares_125z', Math.floor(Math.random()*1500)]

var dataz = new FormData();
         
dataz.append("Photo", file, `${cimgvar[Math.floor(Math.random()*cimgvar.length)]}.${czt12Zr123}`);
      
        
axios({
method: 'post',
url: '/add_photo',
data: dataz
}).then(response => {

//console.log(response)	


   const preview = document.querySelector('#phtID');

        
   reader.addEventListener("load", () => {
    preview.src = reader.result;
  }, false); 
  
  reader.readAsDataURL(file);	
	
}).then(error => {
	console.log(error)
});
            
              
  
	
	
 

	
}




</script>



<div>

<div class="card mt-3" style="    padding: 7px 0px 0px 0px;">
<ul class="list-group list-group-flush">
	
	
<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6> <span class="text-secondary">https://boot.com</span></li>

<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6> <span class="text-secondary">boot</span></li>

<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6> <span class="text-secondary">@boot</span></li>

<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6> <span class="text-secondary">boot</span></li>

<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"><h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6> <span class="text-secondary">boot</span></li>

</ul></div>

</div>


</div>

<div class="col-6">


<div class="">

<div class="p-5 bg-white rounded shadow-lg">

          

<form action="">
<div class="form-row">

<input type="text" class="form-control" name="first" value="<%=user.name%>" placeholder="Name">



<input type="text" class="form-control" name="last"  value="<%=user.surn%>" placeholder="Surname">


</div>
<div class="form-row">

<input type="text" class="form-control" name="phone" value="<%=user.number%>" placeholder="Phone">


<input type="text" class="form-control" name="mail" value="<%=user.mail%>" placeholder="Email">



</div>



<div class="form-row">

<input type="text" class="form-control" name="pswd" value="<%=user.password%>" placeholder="Password">


<div class="form-holder">
<select name="gender" class="form-control">
<option value="" disabled="" selected="">Gender</option>
<option value="class 01" <%=user.gender == 'male' ? "selected='selected'" : ''%>>Male</option>
<option value="class 02" <%=user.gender == 'female' ? "selected='selected'" : ''%>>Female</option>
<option value="class 03" <%=user.gender == 'other' ? "selected='selected'" : ''%>>Other</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>


</div>


<div class="form-holder">
<select name="gender" class="form-control">
<option value="" disabled="" selected="">Account type</option>
<option value="seek" <%=user.acc_type == 'seeker' ? "selected='selected'" : ''%>>Seeker</option>
<option value="empl" <%=user.acc_type == 'employer' ? "selected='selected'" : ''%>>Employer</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>




<textarea name="" placeholder="Message" class="form-control" style="padding:10px;display:none;height: 130px;"></textarea>


<button name="reg" type="button" class="btn" style="text-align:center;color:#fff;background:#dc3545;border:0;padding:10px;margin-top:10px;">Change</button>


</form>
   
        
        </div>



</div>
</div>





</div>


<!-- -->


<!-- -->

</div>









<%-include("footer.html") %>
