<%-include("header.ejs") %>

<style>

.form-control {
    border-color: #b79f9f !important;
}

.form-control:focus {
    border-color: #b79f9f !important;
}


</style>

    <div class="row" style="margin:30px;">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="text-center image-size-small position-relative">
        <img src="/icons/user-vector.webp" class="rounded-circle p-2 bg-white">
        <div class="icon-camera">
        <a href="" class="text-primary"><i class="lni lni-camera"></i></a>
        </div>
        </div>
        <div class="p-5 bg-white rounded shadow-lg">
          <h3 class="mb-4 mt-4 text-center  pt-4">Sign Up</h3>
          
  
          
	<%if (locals.error) {%>
  <h2><%=locals.error %></h2>
	<% } %>
           
           
   
   
<form action="">
<h3 style="display:none">zzz</h3>
<div class="form-row">


<input type="text" class="form-control" name="first" placeholder="Name">



<input type="text" class="form-control" name="last" placeholder="Surname">


</div>
<div class="form-row">

<input type="text" class="form-control" name="phone" placeholder="Phone">


<input type="text" class="form-control" name="mail" type="email" placeholder="Email">



</div>



<div class="form-row">

<input type="text" class="form-control" name="pswd" placeholder="Password">


<div class="form-holder">
<select name="gender" class="form-control">
<option value="" disabled="" selected="">Gender</option>
<option value="class 01">Class 01</option>
<option value="class 02">Class 02</option>
<option value="class 03">Class 03</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>


</div>


<div class="form-holder">
<select name="gender" class="form-control">
<option value="" disabled="" selected="">Account type</option>
<option value="seek">Seeker</option>
<option value="empl">Employer</option>
</select>
<i class="zmdi zmdi-chevron-down"></i>
</div>




<textarea name="" placeholder="Message" class="form-control" style="padding:10px;display:none;height: 130px;"></textarea>


<button name="reg" type="button" class="" style="text-align:center;color:#fff;background:#dc3545;border:0;padding:10px">Seek</button>


</form>
   
   
   
   
   
   
   
   
   
   
         <div class="text-center pt-4">
          <p class="m-0">Do not have an account? <a href="/in" class="text-dark font-weight-bold">Sign In</a></p>
        </div>          
        </div>        
      </div>
    </div>


<%-include("footer.ejs") %>
