<!-- right side of menu -->
<div class="col-2" style="margin-top:20px;margin-bottom:20px;padding-right:4px;padding-right: 22px;">

<ul class="list-group">

    <h5 class="list-group-item card-title">Ads</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>



<ul class="list-group" style="margin-top:20px;">

    <h5 class="list-group-item card-title">Random vacancies</h5>

  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>


</div>
<!--  -->
