<%-include("header.html") %>

<div class="row">


<div class="col-12" style="margin-top:10px;background:#021a29;padding:10px;">

<h5 style="text-align:center;color:white !important;">There's 1025 Announcements</h5>
</div>

<div class="col-2" style="margin-top:10px;background:#fff;/*padding:20px;*/">


<div style="    margin-left: 10px;">

<input class="form-control" style="background:#fff;border-radius:0;margin-left:2px;" placeholder="By name">
<input class="form-control" style="background:#fff;border-radius:0;margin-left:2px;" placeholder="By name">
<input class="form-control" style="background:#fff;border-radius:0;margin-left:2px;" placeholder="By name">

<button type="button" class="" style="width:95%;color:#fff;background:#ff6500;border:0;padding:10px;margin: auto;display: block;">Seek</button>
</div>


</div>


<div class="col-10" style="margin-top:10px;/*background:#985656;padding:20px;*/">


<div class="list-group w-auto" style="/*margin-top:20px;*/margin-bottom:20px;" id="lsts2"> 





  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/24" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">ახალიუიი</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">ეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეეე</p>
      </div>
      <small class="opacity-50 text-nowrap">10/Jan/2023</small>
    </div>
  </a>
  




  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/23" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">wwwwwwwww</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
      </div>
      <small class="opacity-50 text-nowrap">16/Jan/2023</small>
    </div>
  </a>
  




  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/24" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">ახალი სამსახური</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
      </div>
      <small class="opacity-50 text-nowrap">19/Dec/2022</small>
    </div>
  </a>
  




  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/24" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">ახალი სამსახური</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
      </div>
      <small class="opacity-50 text-nowrap">9/Jan/2023</small>
    </div>
  </a>
  




  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/22" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">ახახქწექწეეეეეე</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">eeeeeeeeeeeeeeeeeeeeeeee</p>
      </div>
      <small class="opacity-50 text-nowrap">1/Jan/1970</small>
    </div>
  </a>
  




  <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <img src="/get_pic/22" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">From  zzVidea</h6>
        <p class="mb-0 opacity-75" style="word-break:break-all;">qweqweqweqweqweqweqweqweqweqweqweqwe</p>
      </div>
      <small class="opacity-50 text-nowrap">1/Jan/1970</small>
    </div>
  </a>
  




</div>


</div>



</div>


<%-include("footer.html") %>
